.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #173731;
}

.header__logo {
    display: flex;

    max-width: 80px;
    max-height: 80px;
}

.header__title {
    font-size: 2rem;
    color: white;
}